@import "/src/styles/variables.modules.css";

.wrapper {
  display: grid;
  grid-template-columns: 80%;
}

.form {
  display: flex;
  flex-direction: column;
}

.contacts-and-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 144px;
}

.text-input {
  padding: 16px;
  margin: 8px 0;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: calc((100% - 8px) * 0.04) calc((100% - 8px) * 0.96);
  gap: 8px;
  align-items: center;
  margin: 20px 0;
  font-size: 14px;
  line-height: 16px;
  color: $secondary-text-color;
}

.checkbox {
  max-width: 24px;
}

.form-btn {
  display: grid;
  grid-template-columns: 60%;
  justify-content: start;
}

.error {
  border: 1px solid $third-text-color;
}

.contacts-data {
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  color: $primary-text-color;
}

.contacts-sub-title {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: 16px;
  line-height: 19px;
  color: $secondary-text-color;
}

.phone {
  margin-bottom: 16px;
}

.link {
  color: $secondary-text-color;
  text-decoration: underline;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .contacts-and-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

@media screen and (max-width: $breakpoint-large) {
  .contacts-data {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts-and-form {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .contacts {
    display: flex;
    gap: 40px;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .contacts-data {
    font-size: 16px;
    line-height: 20px;
  }

  .phone {
    margin-bottom: 0;
  }
}
