@import "/src/styles/variables.modules.css";

.container {
  margin: $primary-margin;
}

.header {
  padding: 20px 0;
}

.title {
  margin-bottom: 22px;
  font-size: 64px;
  font-weight: 500;
  line-height: 78px;
  color: $primary-text-color;
}

.sub-title {
  display: grid;
  grid-template-columns: 36%;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: $breakpointLarge) {
  .container {
    margin: $secondary-margin;
  }
}

@media screen and (max-width: $breakpointSmall) {
  .container {
    margin: $mobile-margin;
  }
}
