@import "/src/styles/variables.modules.css";

.wrapper {
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 32px;
  color: $primary-text-color;
  background: $third-background;
  border-radius: 8px;
}
