@import "/src/styles/variables.modules.css";

.names {
  display: grid;
  grid-template-columns: 40% 60%;
  color: $primary-text-color;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr 1fr 3fr;
  gap: 8px;
  padding: 8px;
  margin: 12px 0;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line {
  border-right: 1px solid $primary-border;
}

.main-form {
  display: block;
}

.btn-wrapper {
  display: inline-block;
}

.btn-search-wrapper {
  color: $primary-background;
}

.hint-hide {
  display: none;
}

.hint-visible {
  position: absolute;
  top: 0;
  left: 196px;
}

.btn-hint-wrapper {
  position: relative;
}
