@import "/src/styles/variables.modules.css";

.names {
  display: grid;
  grid-template-columns: 40% 60%;
  color: $primary-text-color;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr 1fr 3fr;
  gap: 8px;
  padding: 8px;
  margin: 12px 0;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line {
  border-right: 1px solid $primary-border;
}

.main-form {
  display: block;
}

.btn-wrapper {
  display: inline-block;
}

.btn-search-wrapper {
  color: $primary-background;
}

.hint-hide {
  display: none;
}

.hint-visible {
  position: absolute;
  top: 0;
  left: 196px;
}

.btn-hint-wrapper {
  position: relative;
}

.main-form-mobile {
  display: none;
}

.autocomplete-wrapper {
  display: grid;
  grid-template-columns: 1fr 11fr;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.reset-btn {
  justify-content: flex-end;
  color: $third-text-color;
}

.more-search {
  justify-content: flex-start;
  color: $secondary-background;
  text-decoration: none;
}

.btns-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.arrow {
  transform: rotate(90deg);
}

@media screen and (max-width: $breakpointLarge) {
  .main-form {
    display: none;
  }

  .main-form-mobile {
    display: grid;
    grid-template-rows: 1fr;
    gap: 12px;
  }

  .btn-search-wrapper {
    margin: 16px 0;
  }

  .btn-hint-wrapper {
    margin-bottom: 12px;
  }
}
