@import "/src/styles/variables.modules.css";

.wrapper {
  margin: 0 auto;
}

.external {
  width: 88px;
  height: 88px;
  margin: 0 auto;
  border: 8px solid $primary-btn-color;
  border-right: transparent;
  border-left: transparent;
  border-radius: 50%;
  animation-name: rotation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.internal {
  width: 72px;
  height: 68px;
  margin: 0 auto;
  border: 6px solid $secondary-text-color;
  border-top: transparent;
  border-bottom: transparent;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
