@import "/src/styles/variables.modules.css";

.container {
  display: grid;
  gap: 40px;
  padding-top: 40px;
  margin: $primary-margin;
}

.block {
  padding: 20px;
  background: $third-background;
  border: none;
  border-radius: 8px;
}

.title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 500;
  line-height: 44px;
  color: $primary-text-color;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $secondary-text-color;
}

@media screen and (max-width: $breakpoint-large) {
  .container {
    margin: $secondary-margin;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .container {
    margin: $mobile-margin;
  }
}
