@import "/src/styles/variables.modules.css";

.company-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  background: $third-background;
  border-radius: 8px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: $primary-text-color;
}

.sub-title {
  flex: 1 1 auto;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $primary-text-color;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address {
  padding-right: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #898989;
}

.offers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  padding-right: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #4a53f5;
}
