@import "/src/styles/variables.modules.css";

.container {
  padding: $padding-top-bottom 0;
  margin: $primary-margin;
}

.form {
  width: 40%;
  margin: 96px 0;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: $breakpoint-large) {
  .container {
    margin: $secondary-margin;
  }

  .form {
    width: 80%;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .container {
    margin: $mobile-margin;
  }

  .form {
    width: 100%;
  }
}
