@import "/src/styles/variables.modules.css";

.container {
  margin: $primary-margin;
}

.title {
  margin: 40px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  color: $primary-text-color;
}

@media screen and (max-width: $breakpoint-large) {
  .container {
    margin: $secondary-margin;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .container {
    margin: $mobile-margin;
  }
}
