@import "/src/styles/variables.modules.css";

.wrapper {
  padding: $primary-padding-top-bottom 0;
}

.question {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin: 16px 0;
}

.question-btn {
  display: inline-block;
}

@media screen and (max-width: $breakpoint-large) {
  .question {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .question {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
