@import "/src/styles/variables.modules.css";

.wrapper {
  position: relative;
  height: 56px;
  margin: 8px 0;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.slider {
  position: absolute;
  right: 50%;
  bottom: -100%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}

.text {
  padding: 4px;
  color: $secondary-text-color;
}

.range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

.range-value {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4px;
  align-items: center;
}

.input {
  max-width: 120px;
  padding: 8px;
  border: 1px solid $primary-border;
  border-radius: 8px;
}
