@import "/src/styles/variables.modules.css";

.hint-container {
  position: relative;
}

.hint-visible {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10;
}

.hint-hide {
  display: none;
}
