.select {
  width: 280px;
  height: 56px;
  padding: 16px;
  border: 1px solid var(--primary-border);
  border-radius: 8px;
}

.option {
  padding: 4px;
  color: var(--secondary-text-color);
}

.selected {
  display: flex;
}
