@import "/src/styles/variables.modules.css";

.additional-form-wrapper {
  margin-top: 56px;
}

.additional-form {
  display: grid;
  grid-template-columns: repeat(3, calc((60% - 48px) / 3));
  gap: 24px;
  margin-top: 56px;
}

.additional-form-wrapper-hide {
  display: none;
}

.additional-form-input {
  width: 100%;
  padding: 16px;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.additional-form-text {
  padding-bottom: 12px;
}

.additional-form-text-wrapper {
  display: flex;
  align-items: center;
}

.btn-wrapper {
  display: inline-block;
}

.text-padding-right {
  padding-right: 8px;
}

.help-reset {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.reset-btn {
  color: $third-text-color;
}

@media screen and (max-width: $breakpointExtraLarge) {
  .additional-form {
    display: grid;
    grid-template-columns: repeat(2, calc((60% - 24px) / 2));
    gap: 24px;
    margin-top: 56px;
  }
}

@media screen and (max-width: $breakpointLarge) {
  .additional-form {
    display: grid;
    grid-template-columns: 100%;
    gap: 24px;
    margin-top: 56px;
  }
}
