@import "/src/styles/variables.modules.css";

.additional-form-wrapper {
  margin-top: 56px;
}

.autocomplete-wrapper {
  width: 60%;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.label {
  padding-bottom: 12px;
}

.additional-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 60%;
  margin-top: 24px;
}

.btn-wrapper {
  display: inline-block;
}

.help-reset {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.reset-btn {
  color: $third-text-color;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .additional-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 60%;
    margin-top: 24px;
  }
}

@media screen and (max-width: $breakpoint-large) {
  .additional-form {
    display: grid;
    grid-template-columns: 100%;
    gap: 24px;
    width: 100%;
    margin-top: 24px;
  }

  .help-reset {
    display: none;
  }

  .autocomplete-wrapper {
    width: 100%;
  }
}
