@import "/src/styles/variables.modules.css";

.wrapper {
  padding: $primary-padding-top-bottom;
}

.benefits-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.title {
  margin: 48px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  color: $primary-text-color;
}

@media screen and (max-width: $breakpoint-large) {
  .wrapper {
    grid-template-columns: 100%;
    gap: 24px;
  }

  .benefits-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $breakpoint-extra-small) {
  .benefits-wrapper {
    grid-template-columns: 1fr;
  }
}
