@import "/src/styles/variables.modules.css";

.benefits-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

@media screen and (max-width: $breakpoint-large) {
  .wrapper {
    grid-template-columns: 100%;
    gap: 24px;
  }

  .benefits-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $breakpoint-extra-small) {
  .benefits-wrapper {
    grid-template-columns: 1fr;
  }
}
