@import "/src/styles/variables.modules.css";

.wrapper {
  padding: 24px 24px 40px;
  background: $third-background;
  border-radius: 8px;
}

.sub-title {
  display: grid;
  grid-template-columns: 36%;
}

@media screen and (max-width: $breakpoint-large) {
  .sub-title {
    grid-template-columns: 100%;
  }
}
