@import "/src/styles/variables.modules.css";

.wrapper {
  padding: 24px 24px 40px;
  margin: $primary-padding-top-bottom;
  background: $third-background;
  border-radius: 8px;
}

.header {
  padding: 60px 0 40px;
}

.title {
  margin-bottom: 22px;
  font-size: 64px;
  font-weight: 500;
  line-height: 78px;
  color: $primary-text-color;
}

.sub-title {
  display: grid;
  grid-template-columns: 36%;
  font-size: 20px;
  line-height: 24px;
}

.main-mobile {
  display: none;
}

.main-web {
  display: block;
}

@media screen and (max-width: $breakpointLarge) {
  .title {
    font-size: 40px;
    line-height: 40px;
  }

  .sub-title {
    grid-template-columns: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  .main-mobile {
    display: grid;
  }

  .main-web {
    display: none;
  }
}
