@import "/src/styles/variables.modules.css";

.wrapper {
  padding: 24px 24px 40px;
  margin: 24px 0 72px;
  background: $third-background;
  border-radius: 8px;
}

.names {
  display: grid;
  grid-template-columns: 40% 60%;
  color: $primary-text-color;
}

.form {
  display: grid;
  grid-template-columns: 32% 40% 5% 20%;
  gap: 1%;
  padding: 8px;
  margin: 12px 0;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line {
  border-right: 1px solid $primary-border;
}

.main-form {
  display: block;
}

.additional-form-wrapper {
  margin-top: 56px;
}

.additional-form {
  display: grid;
  grid-template-columns: repeat(3, calc((60% - 48px) / 3));
  gap: 24px;
  margin-top: 56px;
}

.additional-form-wrapper-hide {
  display: none;
}

.additional-form-input {
  width: 100%;
  padding: 16px;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.additional-form-text {
  padding-bottom: 12px;
}

.reset-btn {
  color: $third-text-color;
}

.help-reset {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.btn-wrapper {
  display: inline-block;
}

.additional-form-text-wrapper {
  display: flex;
  align-items: center;
}

.text-padding-right {
  padding-right: 8px;
}

@media screen and (max-width: $breakpoint1) {
  .additional-form {
    display: grid;
    grid-template-columns: repeat(2, calc((60% - 24px) / 2));
    gap: 24px;
    margin-top: 56px;
  }
}

@media screen and (max-width: $breakpoint2) {
  .additional-form {
    display: grid;
    grid-template-columns: 100%;
    gap: 24px;
    margin-top: 56px;
  }
}
