@import "/src/styles/variables.modules.css";

.grocery {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  padding: 20px;
  margin: 16px 0;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 40px;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.description-title {
  color: $secondary-text-color;
}

.description-sub-title {
  font-size: 18px;
  line-height: 22px;
  color: $primary-text-color;
}

.details-title {
  font-size: 14px;
  line-height: 16px;
  color: $secondary-text-color;
}

.details-sub-title {
  font-size: 14px;
  line-height: 16px;
  color: $primary-text-color;
}

.text {
  display: flex;
  align-items: center;
  padding: 4px;
}

@media screen  and (max-width: $breakpoint-large) {
  .grocery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media screen  and (max-width: $breakpoint-extra-small) {
  .grocery {
    padding: 8px;
  }

  .description {
    margin-bottom: 20px;
  }
}
