.getInTouchCard{
    padding: 20px;
    background: #F4F6F8;
    border-radius: 8px;
    max-width: 484px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contactUs{
    margin-bottom: 32px;
}
.title,
.name,
.order {
    padding-bottom: 12px;
}
.title,
.address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #898989;
}
.phone,
.email{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3A3D4B;
    text-decoration: none;
    display: inline-block;
}
.phone{
    padding-right: 32px;
}
.aboutCompany{
    display: grid;
    grid-template-columns: 70% 30%;
}

.name{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3A3D4B;
}
.btn{
    color: #B7B7B7;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: end;
}
