@import "/src/styles/variables.modules.css";

.pagination {
  display: flex;
  min-width: 100%;
}

.more-pages {
  display: flex;
  align-items: center;
}

.hide-text {
  display: none;
}

.visible-text {
  display: inline;
}

.dots {
  margin: 0 4px;
}

.arrow {
  transform: rotate(180deg);
}

.selected-btn {
  max-width: max-content;
  background: $pseudo-btn-hover-color;
}
