$someColor: red;
$anotherColor: black;

.my-local-class {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 8px;
  background-color: $someColor;

  & .nested-class {
    height: 20px;
    background-color: blue;
  }

  & :global(.my-global-class) {
    height: 20px;
    background-color: yellow;
  }
}
