@import "/src/styles/variables.modules.css";

.sub-title {
  display: grid;
  grid-template-columns: 36%;
  margin-bottom: 0;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

@media screen and (max-width: $breakpoint-large) {
  .sub-title {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .articles {
    grid-template-columns: 100%;
    gap: 24px;
  }
}
