.cards {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 32px;
}

.card {
  display: flex;
  align-items: stretch;
}

@media screen and (max-width: 700px) {
  .cards {
    grid-template-columns: 100%;
    gap: 24px;
  }
}
