.cards {
  display: grid;
  grid-template-columns: calc((100% - 32px)/2) calc((100% - 32px)/2);
  gap: 32px;
}

.card {
  display: flex;
  align-items: stretch;
}

@media screen and (max-width: 1050px) {
  .cards {
    grid-template-columns: 100%;
    gap: 24px;
  }
}
