$primary-btn-color: #4a53f5;
$primary-btn-hover-color: #3840e6;
$pseudo-btn-hover-color: #edeeff;
$secondary-btn-color: #f3f5ff;
$secondary-btn-hover-color: #d8ddf9;

$primary-background: #fff;
$secondary-background: #2d2d2d;
$third-background: #f4f6f8;
$hint-background: #e2e5f3;

$primary-border: #f0f0f0;

$primary-text-color: #3a3d4b;
$secondary-text-color: #898989;
$third-text-color: #ec5b55;

$primary-chip-background: #52ae52;
$secondary-chip-background: #e99d45;

$primary-color: #000;

$primary-margin: 0 72px;
$primary-padding-top-bottom: 40px 0;

$breakpointSmall: 600px;
$breakpointLarge: 900px;
$breakpointExtraLarge: 1200px;
