/*FONT SIZE*/
.typography{
    font-weight: 400;
}
.subTitle2 {
    font-size: 14px;
    line-height: 16px;
}
.subTitle1 {
    font-size: 16px;
    line-height: 20px;
}
.title2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.title1{
    font-size: 24px;
    line-height: 28px;
}
.header3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
}
.header2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
}
.header1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 80px;
}

/*FONT FAMILY*/
.font-inter{
    font-family: 'Inter', serif;
}

/*FONT COLOR*/
.color-darkgray{
    color: var(--primary-text-color);
}
.color-darkblue{
    color: var(--primary-btn-color);
}
.color-white {
    color: var(--primary-background);
}
.color-gray{
    color: var(--secondary-text-color);
}
.color-coral{
    color: var(--third-text-color);
}
