@import "/src/styles/variables.modules.css";

.autocomplete {
  & :global(.v-field__overlay) {
    display: none;
  }

  & :global(.v-field__outline) {
    display: none;
  }

  & :global(.v-field__field) {
    padding: 0;
  }

  & :global(.v-input) {
    width: 100%;
  }

  & :global(.v-input__details) {
    display: none;
  }

  & :global(.v-field__append-inner) {
    display: none;
  }

  & :global(.v-field__input) {
    align-items: center;
    padding: 0;
  }

  & :global(.v-input--horizontal .v-input__prepend) {
    margin: 0 16px;
  }

  & :global(.v-autocomplete .v-field .v-field__input) {
    align-self: center;
  }
}
