@import "/src/styles/variables.modules.css";

.description {
  padding: 40px;
  margin: 16px 0;
  background: $primary-background;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.title {
  margin: 12px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: $primary-text-color;
}

.sub-title {
  font-size: 20px;
  line-height: 32px;
  color: $secondary-text-color;
}

@media screen and (max-width: $breakpoint-large) {
  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  .sub-title {
    font-size: 16px;
    line-height: 20px;
  }
}
