@import "/src/styles/variables.modules.css";

.btn-wrapper {
  position: relative;
  z-index: $z-index-total;
  display: flex;
  justify-content: flex-end;
}

.btn {
  justify-content: flex-start;
  height: max-content;
}

.btn-icon {
  width: max-content;
  height: max-content;
}

.become-partner-burger-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
}

.become-partner-wrapper {
  padding: 16px;
}

.become-partner-btn {
  width: 100%;
  height: max-content;
  color: $primary-btn-color;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 100px;
}

.item-link {
  width: 100%;
  height: max-content;
  color: $primary-text-color;
}
