@import "/src/styles/variables.modules.css";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
}

.article {
  position: relative;
  display: inline-block;
}

.options {
  position: absolute;
  z-index: 1;
  display: none;
}

.article:hover .options {
  display: block;
}

.item-link {
  width: 100%;
  height: 100%;
  color: $primary-text-color;
  white-space: nowrap;
}

.btn {
  text-align: start;
}

.item-link-secondary-btn {
  color: $primary-btn-hover-color;
}

.menu-btn {
  width: max-content;
  height: max-content;
}

.menu {
  position: absolute;
  top: 8px;
  right: 72px;
  min-width: 200px;
  background: $primary-background;
  border-radius: 8px;
  box-shadow: $shadow-primary;
}
