@import "/src/styles/variables.modules.css";

.menu-mobile-open {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 220px;
  height: 100vh;
  padding-top: 100px;
  background-color: $third-background;
  box-shadow: 1px 8px 12px rgb(58 60 76 / 8%), 1px 1px 2px rgb(58 60 76 / 4%);
  animation-name: menu-open;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-iteration-count: initial;
}

.menu-mobile-close {
  position: fixed;
  top: 0;
  right: -220px;
  z-index: 2;
  width: 220px;
  height: 100vh;
  padding-top: 100px;
  background-color: $third-background;
  box-shadow: 1px 8px 12px rgb(58 60 76 / 8%), 1px 1px 2px rgb(58 60 76 / 4%);
  animation-name: menu-close;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-iteration-count: initial;
}

.menu-mobile-hide {
  display: none;
}

.item-link {
  width: 100%;
  height: 100%;
  color: $primary-text-color;
}

.btn {
  width: max-content;
  height: max-content;
}

.btn-wrapper {
  z-index: 3;
  display: flex;
  justify-content: flex-end;
}

.opacity-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  min-width: 100%;
  background-color: $secondary-text-color;
  opacity: 0.2;
}

.opacity-block-hide {
  display: none;
}

@keyframes menu-open {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes menu-close {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}
