.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  margin: 56px 72px;
  font-size: 64px;
  font-weight: 500;
  line-height: 78px;
  color: var(--primary-text-color);
}

.btn {
  display: flex;
  justify-content: center;
  margin: 56px 0 120px;
}
