.wrapper {
  display: grid;
  grid-template-columns: calc((100% - 64px)/3) calc((100% - 64px)/3) calc((100% - 64px)/3);
  gap: 32px;
  margin: 16px 0;
}

@media screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: calc((100% - 64px)/2) calc((100% - 64px)/2);
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 100%;
  }
}
