@import "/src/styles/variables.modules.css";

.primary {
  display: inline-block;
  padding: 8px;
  color: $primary-background;
  background: $primary-chip-background;
  border: none;
  border-radius: 60px;
}

.secondary {
  background: $secondary-chip-background;
}
