@import "/src/styles/variables.modules.css";

.sub-title {
  max-width: 472px;
}

.wrapper {
  display: grid;
  grid-template-columns: 40%;
}

.link {
  color: $secondary-text-color;
  text-decoration: underline;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .wrapper {
    display: grid;
    grid-template-columns: 60%;
  }
}

@media screen and (max-width: $breakpoint-large) {
  .wrapper {
    display: grid;
    grid-template-columns: 80%;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
  }
}
