@import "/src/styles/variables.modules.css";

.title {
  margin: 32px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  color: $primary-text-color;
}

.sub-title {
  font-size: 18px;
  line-height: 22px;
}

.wrapper {
  display: grid;
  grid-template-columns: 40%;
  padding: $primary-padding-top-bottom 0;
  margin: 48px 0;
}

.link {
  color: $secondary-text-color;
  text-decoration: underline;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .wrapper {
    display: grid;
    grid-template-columns: 60%;
    padding: $primary-padding-top-bottom 0;
  }
}

@media screen and (max-width: $breakpoint-large) {
  .wrapper {
    display: grid;
    grid-template-columns: 80%;
    padding: 0;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
  }
}
