@import "/src/styles/variables.modules.css";

.wrapper {
  display: grid;
  grid-template-columns: 60%;
  padding: $primary-padding-top-bottom;
}

@media screen and (max-width: $breakpointExtraLarge) {
  .wrapper {
    display: grid;
    grid-template-columns: 80%;
    padding: $primary-padding-top-bottom;
  }
}

@media screen and (max-width: $breakpointLarge) {
  .wrapper {
    display: grid;
    grid-template-columns: 90%;
    padding: $primary-padding-top-bottom;
  }
}
