@import "/src/styles/variables.modules.css";

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  cursor: pointer;
  background: $third-background;
  border-radius: 8px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: $primary-text-color;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  color: $primary-btn-hover-color;
}

.publication-date {
  color: $secondary-text-color;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
  }
}
