.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 8px 0;
  margin: var(--primary-margin);
}

.logo-map {
  display: flex;
}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.city {
  margin-left: 4px;
  color: var(--primary-btn-color);
}

.pic {
  padding-right: 24px;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1050px) {
  .wrapper {
    grid-template-columns: 100%;
  }
}
