@import "/src/styles/variables.modules.css";

.container {
  margin: $primary-margin;
  text-align: justify;
}

.block {
  padding: 12px 0;
}

@media screen and (max-width: $breakpoint-large) {
  .container {
    margin: $secondary-margin;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .container {
    margin: $mobile-margin;
  }
}
