@import "/src/styles/variables.modules.css";

.wrapper-default {
  height: 100%;
  padding: 16px;
  background: $third-background;
  border: none;
  border-radius: 8px;
}

.wrapper-special {
  height: 100%;
  padding: 16px;
  background: $primary-background;
  border: none;
  border-radius: 8px;
}

.img {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: $breakpoint-extra-small) {
  .title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  .sub-title {
    font-size: 16px;
    line-height: 16px;
  }
}
