@import "/src/styles/variables.modules.css";

.drop-zone {
  padding: 60px;
  border: 2px dashed $primary-border;
  border-radius: 4px;
}

.drop-zone:hover {
  background-color: $third-background;
}

.instruction {
  font-size: 14px;
  line-height: 16px;
  color: $primary-text-color;
}

.drop-text {
  padding-bottom: 8px;
}

.supported-formats {
  font-size: 14px;
  line-height: 16px;
  color: $secondary-text-color;
}

.uploaded-complete {
  font-size: 14px;
  line-height: 16px;
  color: $primary-text-color;
}

.file-input {
  display: none;
}

.load-btn {
  justify-content: flex-start;
}

.drop-description {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
}

.highlight {
  padding: 60px;
  background-color: $third-background;
  border: 4px dashed $primary-btn-color;
  border-radius: 4px;
}

.progress-false {
  display: none;
}

.progress-true {
  display: block;
}
