@import "/src/styles/variables.modules.css";

.footer {
  background-color: $secondary-background;
}

.wrapper {
  margin: $primary-margin;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  margin: 16px 0 32px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-logo {
  padding: 0 12px;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  color: $primary-background;
}

.column-item {
  padding: 12px;
  color: $primary-background;
  text-decoration: none;
}

.column-items {
  display: flex;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links-item {
  margin: 4px;
}

.bottom-item {
  display: inline-block;
  padding: 12px 24px 12px 0;
  color: $primary-background;
  text-decoration: none;
  opacity: 0.5;
}

@media screen and (max-width: $breakpoint-large) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-bottom: 24px;
  }

  .wrapper {
    margin: $secondary-margin;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .wrapper {
    margin: $mobile-margin;
  }
}

@media screen and (max-width: $breakpoint-extra-small) {
  .container {
    grid-template-columns: 1fr;
    gap: 4px;
  }
}
