.wrapper {
  height: 100%;
  padding: 16px;
  background: var(--third-background);
  border: none;
  border-radius: 8px;
}

.img {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--primary-text-color);
}

.sub-title {
  color: var(--primary-text-color);
}
