@import "/src/styles/variables.modules.css";

.offer-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 16px;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.title {
  margin-bottom: 8px;
  color: $primary-text-color;
}

.sub-title {
  color: $secondary-text-color;
}
