@import "@/styles/variables.modules.css";

.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 20px;
}

@media screen and (max-width: $breakpoint2) {
  .wrapper {
    grid-template-columns: 100%;
    gap: 24px;
  }
}
