@import "/src/styles/variables.modules.css";

.container {
  padding: $padding-top-bottom 0;
  margin: $primary-margin;
}

.header {
  margin-bottom: 22px;
  font-size: 64px;
  font-weight: 500;
  line-height: 78px;
  color: $primary-text-color;
}

.quantities {
  font-size: 36px;
  line-height: 44px;
  color: $primary-btn-color;
}

.btn-container {
  display: grid;
  justify-content: center;
  margin-top: 60px;
}

.btn-content-wrapper {
  display: flex;
}

@media screen and (max-width: $breakpoint-large) {
  .container {
    margin: $secondary-margin;
  }

  .header {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
  }

  .quantities {
    font-size: 28px;
    line-height: 28px;
    color: $primary-btn-color;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .container {
    margin: $mobile-margin;
  }
}

@media screen and (max-width: $breakpoint-extra-small) {
  .header {
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
  }

  .quantities {
    font-size: 24px;
    line-height: 24px;
    color: $primary-btn-color;
  }
}
