@import "@/styles/variables.modules.css";

.container {
  margin: $primary-margin;
}

.header {
  margin: 56px 0;
  font-size: 64px;
  font-weight: 500;
  line-height: 78px;
  color: $primary-text-color;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 56px 0 120px;
}
