.primary {
  display: inline-block;
  padding: 8px;
  color: var(--primary-background);
  background: var(--primary-chip-background);
  border: none;
  border-radius: 60px;
}

.secondary {
  background: var(--secondary-chip-background);
}
