.primary {
    border: none;
    border-radius: 60px;
    color: var(--primary-background);
    padding: 8px;
    display: inline-block;
    background: var(--primary-chip-background);

}
.secondary {
    background: var( --secondary-chip-background);
}