@import "/src/styles/variables.modules.css";

.hint {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 224px;
  height: 160px;
  background: $hint-background;
  border-radius: 8px;
  box-shadow: $shadow-primary;
}

.text {
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 14px;
  line-height: 16px;
  color: $primary-text-color;
  background: $primary-background;
  border-radius: 0 0 8px 8px;
}

.img {
  margin: 0 auto;
}
