@import "/src/styles/variables.modules.css";

.container {
  display: flex;
  flex-direction: column;
  gap: $big-components-gap;
  padding: $padding-top-bottom 0;
  margin: $primary-margin;
}

@media screen and (max-width: $breakpoint-large) {
  .container {
    margin: $secondary-margin;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .container {
    gap: $medium-components-gap;
    margin: $mobile-margin;
  }
}
