/* FONT SIZE */
.size-xxs {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.size-xs {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.size-s {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.size-xxm {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.size-xm {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.size-m {
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
}

.size-l {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
}

.size-xl {
  font-size: 36px;
  font-weight: 500;
  line-height: 120%;
}

.size-xxl {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
}

.size-xxxl {
  font-size: 64px;
  font-weight: 500;
  line-height: 77px;
}

/* FONT FAMILY */
.font-inter {
  font-family: Inter, serif;
}

/* FONT COLOR */
.color-darkgray {
  color: var(--secondary-gray-color);
}

.color-darkblue {
  color: var(--primary-color);
}

.color-white {
  color: #fff;
}

.color-gray {
  color: #898989;
}

.color-lightgray {
  color: #b7b7b7;
}

.color-coral {
  color: #ec5b55;
}
