@import "/src/styles/variables.modules.css";

.filters {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  align-items: center;
}

.wrapper {
  margin: 8px 0;
}

.text {
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: $breakpoint-extra-large) {
  .filters {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    align-items: center;
  }
}

@media screen and (max-width: $breakpoint-large) {
  .filters {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    align-items: center;
  }
}
