.filters {
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
  align-items: center;
}

.wrapper {
  margin: 8px 0;
}

.text {
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 900px) {
  .filters {
    flex-direction: column;
  }
}
