@import "/src/styles/variables.modules.css";

.container {
  padding: $padding-top-bottom 0;
  margin: $primary-margin;
}

@media screen and (max-width: $breakpoint-large) {
  .container {
    margin: $secondary-margin;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .container {
    margin: $mobile-margin;
  }
}
