@import "@/styles/variables.modules.css";

.wrapper {
  display: grid;
  grid-template-columns: 60%;
  margin: 20px 0;
}

.title {
  margin: 32px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  color: $primary-text-color;
}

.sub-title {
  font-size: 18px;
  line-height: 22px;
}

.text-input {
  padding: 16px;
  margin: 8px 0;
  border: 1px solid $primary-border;
  border-radius: 8px;
}

.form {
  display: grid;
  grid-template-columns: 80%;
  margin: 48px 0;
}

.drop-zone {
  padding: 60px;
  border: 2px dashed $primary-border;
  border-radius: 4px;
}

.instruction {
  font-size: 14px;
  line-height: 16px;
  color: $primary-text-color;
}

.drop-text {
  padding-bottom: 8px;
}

.supported-formats {
  font-size: 14px;
  line-height: 16px;
  color: $secondary-text-color;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: calc((100% - 8px) * 0.04) calc((100% - 8px) * 0.96);
  gap: 8px;
  align-items: center;
  margin: 20px 0;
  font-size: 14px;
  line-height: 16px;
  color: $secondary-text-color;
}

.checkbox {
  max-width: 24px;
}

.form-btn {
  display: grid;
  grid-template-columns: 50%;
  justify-content: start;
}
