.wrapper {
  display: grid;
  grid-template-columns: calc((100% - 8px) * 0.88) calc((100% - 8px) * 0.12);
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 32px;
  background: var(--third-background);
  border-radius: 8px;
}
